@import "../theme.scss";

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: $color-footer-bg;
  box-sizing: border-box;
  padding: 24px;
  transition: bottom 0.1s;

  .innerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .inputContainer {
    width: 100%;
    border-radius: 50px;
    padding: 12px 24px;
    box-sizing: border-box;
    border: 2px solid white;
    background: white;
    textarea {
      width: 100%;
      font-size: 24px;
      line-height: 24px;
      padding: 0;
      margin: 0;
      max-height: 24px * 4;
    }
  }
}

.toolContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  & > view {
    flex: 1;
    display: flex;
    height: 90px;
    align-items: center;

    text {
      flex: 1;
      text-align: center;
      font-size: 48px;
      color: $color-footer-icon;
    }
  }
}
