/* 字体大小 */
// $size-normal: 30px;
// $size-small: 24px;

/* 浅暗色 */
$light-color: #9498a4;
/* 灰色 */
$color-gray: #9d9d9f;
/* 灰色 */
$color-blue: #23cbfa;
/* 背景色 */
$color-bg: #ebedf6;
/* 淡蓝底色 */
$color-bg-blue: #e6faff;
/* 标尾背景色 */
$color-footer-bg: #eff2fe;
/* 图标颜色 */
$color-footer-icon: #989eb3;
